<%- include('../partials/header') %>

        <%- include('../partials/nav') %>
            <div class="container main">
                <h1 class="title">
                    <%= title %>
                </h1>
            </div>
 <%- include('../partials/footer') %>