
    <footer class="main-footer">
        <div class="container flex">
            <div class="main-footer__content">
                <h2 class="underline">Quick Links</h2>
                <ul>
                    <li>Stories</li>
                    <li>Report</li>
                    <li>Sign In</li>
                    <li>About CJID</li>
                    <li>Download Data</li>
                </ul>
            </div>
            <div class="main-footer__content">
                <h2 class="underline">Get Involved</h2>
                <ul class="social-links">
                    <li>FB</li>
                    <li>TW</li>
                    <li>YT</li>
                </ul>
                <form action="#" class="search-form">
                    <input type="text" name="search" id="search" placeholder="Search for reports and stories">
                    <input type="submit" value="submit">
                </form>
                <p class="disclaimer-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem eaque
                    adipisci
                    deserunt optio
                    dolorem architecto tempora?</p>
            </div>
            <div class="main-footer__content">
                <h2 class="underline">About CJID</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut temporibus reiciendis vero beatae
                    molestiae
                    praesentium mollitia neque libero incidunt, dignissimos nihil adipisci consequuntur dolores ipsa
                    odio
                    porro culpa excepturi corrupti maiores eum aliquam quisquam numquam veniam quibusdam. Aspernatur,
                    tempore amet?</p>
            </div>
        </div>
    </footer>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>