<header>
        <nav class="main-navigation">
            <div class="container flex">
                <div class="main-navigation__first">
                    <a href="#"><img class="logo" src="./img/logo/01.png" alt="CJID Logo"></a>
                    <a href="#" class="sign-in">
                        <ion-icon name="person-sharp" size="large"></ion-icon>
                        Sign In
                    </a>
                </div>
                <div class="main-navigation__second">
                    <a href="#">Home</a>
                    <a href="/reports">Reports</a>
                    <a href="#">Stories</a>
                    <a href="#">Data</a>
                    <a href="#">About</a>
                    <form action="#" class="search-form">
                        <input type="text" name="search" id="search" placeholder="Search for reports and stories">
                        <input type="submit" value="submit">
                    </form>
                </div>
            </div>
        </nav>
    </header>