<header>
        <div class="main-navigation">
            <div class="container flex">
                <div class="main-navigation__first">
                    <a href="#"><img class="logo" src="./img/logo/logo.png" alt="CJID Logo"></a>
                    <a href="#" class="sign-in">
                        <ion-icon name="person-sharp" size="large"></ion-icon>
                        Sign In
                    </a>
                </div>
                <div class="main-navigation__second">
                    <nav class="nav-items">
                        <a href="#">Home</a>
                        <a href="/reports">Reports</a>
                        <a href="#">Stories</a>
                        <a href="#">Data</a>
                        <a href="#">About</a>
                    </nav>
                    <form action="#" class="search-form flex">
                        <input type="text" name="search" id="search" placeholder="Search for reports and stories" class="search-box">
                        <button type="search" class="search-button"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div>
                    <i class="fa-solid fa-bars" style="font-size: 1.6rem;"></i>
                </div>
            </div>
        </div>
    </header>