   <%- include('./partials/header') %>
   <%- include('./partials/nav') %>

    <section class="main-articles">
        <div class="container flex">
            <section class="main-articles__left mgtb-2">
                <article class="jumbotron">
                    <h2>One</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus consequatur hic id?</p>
                    <p><span class="pipe"></span> Nothern Ireland</p>
                </article>
                <div class="flex mgb-2">
                    <article class="image-card">
                        <img src="./img/articles/02.jpg" alt="">
                        <div class="image_card__content">
                            <h2 class="mgb-1">Two</h2>
                            <p class="mgb-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus
                                consequatur hic
                                id?
                            </p>
                            <p><span class=" pipe"></span> Nothern Ireland</p>
                        </div>
                    </article>
                    <article class="image-card">
                        <img src="./img/articles/03.jpg" alt="">
                        <div class="image_card__content">
                            <h2 class="mgb-1">Three</h2>
                            <p class="mgb-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus
                                consequatur hic
                                id?
                            </p>
                            <p><span class=" pipe"></span> Nothern Ireland</p>
                        </div>
                    </article>
                </div>
            </section>
            <section class="main-articles__right mgtb-2">
                <aside class="interactive-map">
                    <h2>View Our Interactive Map</h2>
                    <span class="arrow-right"></span>
                </aside>
                <article class="image-card mgb-2">
                    <h2 class="mgb-2">New UK Army chief issues Russia rallying cry</h2>
                    <p class="mgb-1">Gen Sir Patrick Sanders, who started the job last week, addressed all ranks and
                        civil servants in
                        an internal message on 16 June, seen by the BBC.</p>
                    <p><span class="pipe"></span> Lagos, Nigeria</p>
                </article>
                <article class="image-card">
                    <h2 class="mgb-2">New UK Army chief issues Russia rallying cry</h2>
                    <p class="mgb-1">Gen Sir Patrick Sanders, who started the job last week, addressed all ranks and
                        civil servants in
                        an internal message on 16 June, seen by the BBC.</p>
                    <p><span class="pipe"></span> Lagos, Nigeria</p>
                </article>
            </section>
        </div>
    </section>

    <main class="main-summary">
        <div class="container flex">
            <div class="main-summary__description">
                <div class="main-summary__description__heading">
                    <img class="main-summary__logo" src="./img/logo/01.png" alt="CJID Logo">
                    <h1>The Committee to Protect Journalists promotes press freedom worldwide.</h1>
                </div>
                <div>
                    <p class="mgtb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ipsum assumenda
                        veniam
                        quibusdam
                        animi odio expedita provident dignissimos dicta id autem unde aperiam vitae placeat voluptatem,
                        et
                        praesentium sed. Vero aliquam explicabo aperiam, reiciendis tempora similique nam dolor nesciunt
                        dolorum officiis, voluptatum voluptas voluptatem dolores fugiat, quisquam totam ipsa tempore!
                    </p>
                    <img src="./img/summary/05.png" alt="Play video">
                </div>
            </div>
            <div class="main-summary__cards">
                <div>
                    <div class="item-card mgb-2">
                        <img src="./img/summary/01.png" alt="Get Involved">
                        <h2>Get Involved</h2>
                    </div>
                    <div class="item-card">
                        <img src="./img/summary/02.png" alt="Frequently Asked Questions">
                        <h2>Frequently Asked Questions</h2>
                    </div>
                </div>
                <div>
                    <div class="item-card mgb-2">
                        <img src="./img/summary/03.png" alt="Support Our Work">
                        <h2>Support Our Work</h2>
                    </div>
                    <div class="item-card">
                        <img src="./img/summary/04.png" alt="Our Rewards Program">
                        <h2>Our Rewards Program</h2>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('./partials/footer') %>