   <%- include('./partials/header') %>
   <%- include('./partials/nav') %>

    <section class="main-articles">
        <div class="container flex">
            <section class="main-articles__stories mgtb-2">
                <article class="featured-article flow-content img">
                    <h2>Brexit: Plans to ditch parts of NI Protocol are economic vandalism - Irish PM</h2>
                    <p>Plans by the UK government to scrap parts of the post-Brexit trade deal it agreed with the EU would be "economic vandalism" on Northern Ireland</p>
                    <p><span class="location">&#8250;</span> Nothern Ireland</p>
                </article>
                <div class="other-articles mgb-2">
                    <article class="image-card">
                        <img src="./img/articles/02.jpg" alt="">
                        <div class="image_card__content">
                            <div class="flow-content">
                                <h2 class="mgb-1">New UK Army chief issues Russia rallying cry</h2>
                                <p class="mgb-2">Kyiv's Mayor Vitali Klitschko said destroying millions of lives in Ukraine and Russia
                                </p>
                                <p><span class="location">&#8250;</span> Russia</p>
                            </div>
                        </div>
                    </article>
                    <article class="image-card">
                        <img src="./img/articles/03.jpg" alt="">
                        <div class="image_card__content">
                            <div class="flow-content">
                                <h2 class="mgb-1">New UK Army chief issues Russia rallying cry</h2>
                                <p class="mgb-2">Russian President Vladimir Putin was destroying millions of lives in Ukraine and Iceland
                                </p>
                                <p><span class="location">&#8250;</span>Iceland</p>
                            </div>
                        </div>
                    </article>
                </div>
                <a href="#" class="btn btn-primary"> View all stories</a>
            </section>
            <section class="main-articles__reports mgtb-2">
                <aside class="interactive-map img">
                    <h2>View Our Interactive Map</h2>
                    <span class="arrow-right"></span>
                </aside>
                <article class="regular-card flow-content mgb-2">
                    <h2 class="mgb-2">New UK Army chief issues Russia rallying cry</h2>
                    <p class="mgb-1">Gen Sir Patrick Sanders, who started the job last week, addressed all ranks and
                        civil servants in
                        an internal message on 16 June, seen by the BBC.</p>
                    <p><span class="location">&#8250;</span> Lagos, Nigeria</p>
                </article>
                <article class="regular-card flow-content mgb-2">
                    <h2 class="mgb-2">New UK Army chief issues Russia rallying cry</h2>
                    <p class="mgb-1">Gen Sir Patrick Sanders, who started the job last week, addressed all ranks and
                        civil servants in
                        an internal message on 16 June, seen by the BBC.</p>
                    <p><span class="location">&#8250;</span> Lagos, Nigeria</p>
                </article>
                <article class="regular-card flow-content mgb-2">
                    <h2 class="mgb-2">New UK Army chief issues Russia rallying cry</h2>
                    <p class="mgb-1">Gen Sir Patrick Sanders, who started the job last week, addressed all ranks and
                        civil servants in
                        an internal message on 16 June, seen by the BBC.</p>
                    <p><span class="location">&#8250;</span> Lagos, Nigeria</p>
                </article>
                <a href="#" class="btn btn-primary"> View all Reports</a>
            </section>
        </div>
    </section>

    <main class="main-summary">
        <div class="container">
            <div class="main-summary__description">
                <div class="mtb-2 flow-content">
                    <img class="main-summary__logo" src="./img/logo/logo.png" alt="CJID Logo">
                    <h1>The Committee to Protect Journalists promotes press freedom worldwide.</h1>
                    <p class="mgtb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ipsum assumenda
                        veniam
                        quibusdam
                        animi odio expedita provident dignissimos dicta id autem unde aperiam vitae placeat voluptatem,
                        et
                        praesentium sed. Vero aliquam explicabo aperiam, reiciendis tempora similique nam dolor nesciunt
                        dolorum officiis, voluptatum voluptas voluptatem dolores fugiat, quisquam totam ipsa tempore!
                    </p>
                    <img src="./img/summary/05.png" alt="Play video">
                </div>
            </div>
            <div class="main-summary__cta flow-content">
                    <div class="regular-card mgb-2">
                        <img src="./img/summary/01.png" alt="Get Involved">
                        <h2>Get Involved</h2>
                    </div>
                    <div class="regular-card">
                        <img src="./img/summary/02.png" alt="Frequently Asked Questions">
                        <h2>Frequently Asked Questions</h2>
                    </div>
                    <div class="regular-card mgb-2">
                        <img src="./img/summary/03.png" alt="Support Our Work">
                        <h2>Support Our Work</h2>
                    </div>
                    <div class="regular-card">
                        <img src="./img/summary/04.png" alt="Our Rewards Program">
                        <h2>Our Rewards Program</h2>
                    </div>
            </div>
        </div>
    </main>
    <%- include('./partials/footer') %>