@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&family=Open+Sans:wght@400;700&display=swap');

:root {
    --cl-yellow: rgb(253, 197, 1);
    --cl-accent: rgb(255, 251, 240);
    --cl-white: white;
    --cl-black: black;

    --ff-title: 'Open Sans', sans-serif;
    --ff-regular: 'Montserrat', sans-serif;

    --spacer: 1rem;

    --shadow:
        0 2.8px 2.2px rgba(255, 54, 54, 0.034),
        0 6.7px 5.3px rgba(242, 19, 19, 0.048);
}


/* RESETS */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    font-family: var(--ff-regular);
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-color: var(--cl-accent);
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    font-family: var(--ff-title);
}

a {
    text-decoration: none;

}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* components */
.container {
    max-width: 1200px;
    padding: 0 2rem;
    margin: 0 auto;
}

.logo {
    width: 60px;
}

.flex {
    display: flex;
}

/* .flex>* {
    flex-basis: 100%;
} */

.flow-content>*+* {
    margin-top: var(--spacer);
}

.location {
    font-size: 1.2rem;
    color: var(--cl-yellow);
    letter-spacing: .3rem;
}

.image-card,
.regular-card {
    background-color: var(--cl-white);
    box-shadow: var(--shadow);
}

.image-card>div {
    padding: 1.2rem;
}

.image-card,
.img {
    border-radius: 8px;
}

.image-card>img {
    border-top-left-radius: 8000px;
    border-bottom-left-radius: 8000px;
}

.regular-card {
    padding: 1.2em;
}

.mtb-2 {
    margin: 2rem 0;
}

.mtb-2 {
    margin: 2rem 0;
}

/* navigation */
.main-navigation {
    background-color: var(--cl-yellow);
    padding-block: .5rem;
}

.main-navigation>.flex {
    align-items: center;
    justify-content: space-between;
    /* gap: 2rem; */
    /* outline: 1px solid red; */
}

.sign-in,
.nav-items {
    display: none;
}

.search-box {
    border: none;
    background-color: var(--cl-accent);
}

.search-box::placeholder {
    font-size: .7rem;
}

.search-box:focus {
    outline: 1px solid var(--cl-black);
}

.search-button {
    padding-inline: .5em;
    background: rgb(229, 229, 229);
    border: none;
    cursor: pointer;
}

.btn {
    padding: .45em;
    background-color: var(--cl-yellow);
    box-sizing: var(--shadow);
    border-radius: 8px;
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--cl-black);
}

.btn:hover,
.btn:active {
    opacity: 0.8;
    font-weight: 700;
}

/* index page */
.main-articles {
    margin-block: 2rem;
}

.main-articles>.flex {
    flex-direction: column;
}

.main-articles__stories,
.main-articles__reports {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 4rem;
}

.main-articles__stories .featured-article {
    background: url(./img/articles/01.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--cl-white);
    font-weight: 300;
    font-size: .8rem;
    padding: 5rem;
    padding-left: 1rem;
}

.main-articles__stories .other-articles {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

/* reports */

.interactive-map {
    background: url(./img/map/interactive-map.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--cl-white);
    font-weight: 300;
    font-size: 1.8rem;
    text-align: center;
    padding: 2em;
}

/* main summary */
.main-summary {
    background-color: var(--cl-yellow);
    padding-bottom: 2rem;
    margin-bottom: 4rem;
}

.main-summary__description {
    display: flex;
    flex-direction: column;
}

.main-summary__logo {
    width: 240px;
    margin: 0 auto;
}

/* footer area */
.main-footer {
    margin-bottom: 4rem;
}

.main-footer>.flex {
    flex-direction: column;
    gap: 2rem;
}