:root {
    --cl-yellow: rgb(255, 196, 66);
    --cl-accent: rgb(255, 251, 240);
    --cl-white: white;
    --cl-black: black;

    --spacer: 1rem;

    --shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048);
}


/* RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Gobals */
body {
    background-color: var(--cl-accent);
    color: var(--cl-black);
}

img {
    max-width: 100%;
    /* display: block; */
}


a {
    text-decoration: none;
    color: var(--cl-black);
    font-size: 1.4rem;
}

/* Utility */
.container {
    max-width: 85vw;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.mg-2 {
    margin: calc(var(--spacer) * 2);
}

.mgtb-2 {
    margin: calc(var(--spacer) * 2) 0;
}

.mgb-1 {
    margin: calc(var(--spacer)) 0;
}

.mgb-2 {
    margin: calc(var(--spacer) * 2) 0;
}

.mgb-1 {
    margin: calc(var(--spacer)) 0;
}

.image-card {
    max-width: 48%;
    background-color: var(--cl-white);
    box-shadow: var(--shadow);
}

.image_card__content {
    padding: 1.2rem 1rem;
}

.item-card {
    background-color: var(--cl-white);
    /* margin: 5rem; */
    font-size: .9rem;
    border-radius: 8px;
}

.item-card img {
    width: 300px;
}

.item-card h2 {
    padding: 1rem;
}

/* Main Navigation */
.main-navigation {
    background-color: var(--cl-yellow);
}

.main-navigation .flex {
    min-height: 7vh;
    align-items: center;
    justify-content: space-between;
}

.main-navigation__first {
    display: flex;
    align-items: center;
}

.main-navigation__first .logo {
    width: 180px;
}

.main-navigation__first .sign-in {
    display: flex;
    align-items: flex-end;
    gap: .3rem;
}

.main-navigation__second {
    display: flex;
    gap: 2.5rem;
}

.main-navigation__second input[type=text] {
    background-color: var(--cl-accent);
}

/* Main Articles */
.main-articles .flex {
    /* justify-content: space-between; */
    gap: 2rem;
}

.main-articles__left {
    max-width: 60%;
}

.main-articles__left .flex {
    justify-content: space-between;
}

.main-articles .jumbotron {
    background: url('./img/articles/01.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 30vh;
    /* width: 45vw; */
    color: var(--cl-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem;
}

.jumbotron h2,
.jumbotron p {
    max-width: 60%;
}

.jumbotron h2 {
    margin-bottom: calc(var(--spacer) * 1.5);
}

.main-right {
    max-width: 100%;
}

.interactive-map {
    /* max-width: 40%; */
    background: url('./img/map/interactive-map.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 30vh;
    /* width: 45vw; */
    color: var(--cl-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem;
}

.main-articles__right .image-card {
    min-width: 100%;
    padding: 2rem 1rem;
}

.main-summary {
    background-color: var(--cl-yellow);
}

.main-summary .flex {
    /* min-height: 70vh; */
    justify-content: space-between;
    align-items: center;
}

.main-summary__description {
    max-width: 35%;
}


.main-summary__description__heading {
    display: flex;
    align-items: center;
}

.main-summary__logo {
    max-width: 240px;
}


.main-summary__cards {
    max-width: 50%;
    display: flex;
    gap: 2.5rem;
}

.main-footer {
    background-color: var(--cl-black);
    color: var(--cl-white);
}

.main-footer .flex {
    min-height: 30vh;
    justify-content: space-between;
    padding-top: 3rem;
}

.main-footer__content {
    max-width: 30%;
}



@media (max-width: 1200px) {
    .main-summary__description__heading {
        flex-direction: column;
    }
}